/* цвет основного текста #000000 */
/* вторич цвет текста rgba(0, 0, 0, 0.8) */
/* белый  #FFFFFF */
/*  акцент #18A0FB */
/* цвет фона вторичный #E5E5E5 */

:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
}

.logo {
  color: var(--title-text-color);
}

ul {
  list-style: none;
}

/* site-nav */
.site-nav .link {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* section */
.section-title {
  color: var(--title-text-color);
}

/* hero */
.hero-title {
  color: var(--title-text-color);
}

/* features */
.feature-list .title {
  color: var(--title-text-color);
}

/* Examples */
.work-list .title {
  color: var(--title-text-color);
}

/* Button */
.button {
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
